<% provide(:title, "Diy") %>
<h1>DIYのページ</h1>

<%= form_for( :diyCheck , url: diy_path) do |f| %>
<% @diys.each do |diy| %>
    <div class="check-block">
    <%= f.check_box 'diy[][:check]', {checked: diy.check == true}, "#{diy.name}", "false" %>
        <span>名　前:</span><%= diy.name %><br>
        <span>入　手:</span><%= diy.get1%><br>
        <% if diy.get2 != "nil" %><span>　　　 </span><%= diy.get2 %><br><% end %>
        <span>種　類:</span><%= diy.sort %><br>
    </div>
    <% end %>
    <%= f.submit "保存"%>
<% end %>
</body>