<% provide(:title, "Fusion") %>
<body>
  <h1>服のページ</h1>

  <%= form_for( :fusionCheck , url: fusion_path) do |f| %>
    <% @fusions.each do |fusion| %>
      <div class="check-block">
        <%= f.check_box 'fusion[][:check]', {checked: fusion.check == true}, "#{fusion.name}", "false" %>
          <span>名　前:</span><%= fusion.name %><br>
          <span>入　手：</span><%= fusion.price %><br>
          <span>入　手：</span><%= fusion.sales %><br>
          <span>入　手：</span><%= fusion.get %><br>
          <span>入　手：</span><%= fusion.sort %><br>
      </div>
    <% end %>
    <%= f.submit "保存" %>
  <% end %>
</body>
