<div class="conter jumbotron">
  <h1>あつまれ！どうぶつの森～完全コンプリートシート～</h1>
  <h2>
  目指せ全アイテムコンプリート！
  </h2>
  <ul class="centerImg">
    <%= link_to image_tag("insect_icon.png", alt: "insect"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("fish_icon.png", alt: "fish"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("reaf_icon.png", alt: "reaf"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("fusion_icon.png", alt: "fusion"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("diy_icon.png", alt: "diy"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("other_icon.png", alt: "other"), "#", class: "btn btn-default" %>
  </ul>
</div>