<div class="conter jumbotron">
  <h1>使い方</h1>
  <h2>
  まずは各ジャンルをクリック！自分の持っているアイテムにチェックをつけよう！<br>
  目指せ全アイテムコンプリート！
  </h2>
  <ul class="centerImg">
    <%= link_to image_tag("insect_icon.png", alt: "insect"), "#", class: "btn btn-default" %>
    <%= link_to image_tag("fish_icon.png", alt: "fish"), "#", class: "btn btn-default" %>
    <li><%= link_to  "かぐ", "#", class: "btn btn-default" %></li>
    <li><%= link_to  "ファッション", "#", class: "btn btn-default" %></li>
    <li><%= link_to  "その他", "#", class: "btn btn-default" %></li>
    <li><%= link_to  "DIYレシピ", "#", class: "btn btn-default" %></li>
  </ul>
</div>