<% provide(:title, "Insect") %>
<h1>むし</h1>
<body>
<p>出現月は北半球です。</p>
    <% @insects.each do |insect| %>
        <%= insect.name %>
        <%= insect.price %>
        <%= insect.place %>
        <%= insect.season %>
        <%= insect.time %>
    <% end %>
</body>