<% provide(:title, "Other") %>
<body>
<h1>その他のページ</h1>

<h2>ゆかいた</h2>
<% @floorboads.each do |floorboad| %>
    <div class="fossil-block">
        <input type="checkbox"><%= floorboad.name %><br>
        <span>入手:</span><%= floorboad.sort %><br>
    </div>
    <% end %>

<h2>かべがみ</h2>
<% @wallpapers.each do |wallpaper| %>
    <div class="fossil-block">
        <input type="checkbox"><%= wallpaper.name %><br>
        <span>入手:</span><%= wallpaper.sort %><br>
    </div>
    <% end %>

    <h2>ラグ</h2>
<% @lags.each do |lag| %>
    <div class="fossil-block">
        <input type="checkbox"><%= lag.name %><br>
        <span>大きさ:</span><%= lag.size %><br>
        <span>入　手:</span><%= lag.sort %><br>
    </div>
    <% end %>


<h2>化石</h2>
<p>売値はパーツ順に対応してます。</p>
    <% @fossils.each do |fossil| %>
    <div class="fossil-block">
        <%= image_tag  "#{fossil.image_name}" %>
        <input type="checkbox"><%= fossil.name %><br>
        <span>パーツ:</span><%= fossil.parts %><br>
        <span>売　値:</span><br><%= fossil.price %><br>
    </div>
    <% end %>

    <h2>ミュージック</h2>
    <% @musics.each do |music| %>
    <div class="music-block">
        <%= image_tag  "#{music.image_name}" %>
        <input type="checkbox"><%= music.name %><br>
    </div>
    <% end %>
</body>