<% provide(:title, "Other") %>
<body>
<h1>その他のページ</h1>

<ul class="centerImg">
    <%= link_to "かべがみ", wallpaper_path, class: "btn btn-default" %>
    <%= link_to "ゆかいた", floorboads_path, class: "btn btn-default" %>
    <%= link_to "ラグ", lag_path, class: "btn btn-default" %>
    <%= link_to "かせき", fossil_path, class: "btn btn-default" %>
    <%= link_to "ミュージック", music_path, class: "btn btn-default" %>
  </ul>

    <h2>ミュージック</h2>
    <% @musics.each do |music| %>
    <div class="music-block">
        <%= image_tag  "#{music.image_name}" %>
        <input type="checkbox"><%= music.name %><br>
    </div>
    <% end %>
</body>