<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 cpl-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-controller' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-controller' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動でログイン</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <P>ユーザー登録をしていませんか？<%= link_to "新規登録", signup_path %></p>
  </div>
</div>