<% provide(:title, "かせき")%>
<h2>かせき</h2>
<p>売値はパーツ順に対応してます。</p>

<%= form_for(:fossilCheck, url: fossil_path) do |f| %>
  <% @fossils.each do |fossil| %>
    <div class="fossil-block">
      <%= image_tag  "#{fossil.image_name}" %>
      <%= f.check_box 'fossil[][:check]', {checked: fossil.check == true}, "#{fossil.name}", "false" %>
      <span>名　前:</span><%= fossil.name %><br>
      <span>パーツ:</span><%= fossil.parts %><br>
      <span>売　値:</span><br><%= fossil.price %><br>
    </div>
    <% end %>
    <%= f.submit "保存" %> 
  <% end %>
</body>
